<div *ngIf="isLoading; else pageLoaded">
  <mat-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="value">
  </mat-progress-spinner>

</div>

<ng-template #pageLoaded>
  <div [ngClass]="isHandSet ? 'topcolumndisplay' : 'toprowdisplay'">
    <div [ngClass]="isHandSet ? 'counter-mobile' : 'leftpart'">

      <div class="summary">
        <div fxLayout="row">
          <div class="symbolcode"><b>{{code}}</b></div>
          <div class="symbolcode"><b>{{ symbol}}</b></div>
        </div>
        <div class="corporatename">
          <b>{{ corporateName}}</b>
        </div>
        <div class="priceContainer"  >
          <div class="lastPriceContainer">Last Price : <b>{{lastClose }}</b></div>
          <div class="changeContainer" fxLayout="row">
            <div class="intro">Change : <b>{{ priceChange | number:'1.2-3' }}</b> </div>
            <div class="intro"> (<b>{{ pctChange  | number:'1.2-3'}}% </b>)</div>
          </div>


        </div>
      </div>
      <div class="corporate">
        <mat-table #totalshare="matSort" matSort [dataSource]="corporateDataSource">

          <!--'Symbol' , 'ToShares'  , 'SharesDiff' , 'SharesDiffPct'];-->

          <!-- Key Column -->
          <ng-container matColumnDef="key">
            <!--<mat-header-cell class="cell-class"  fxFlex="{{ symbolColumnWidth }}" *matHeaderCellDef> Symbol </mat-header-cell>-->
            <mat-cell class="cell-class"  fxFlex="30" *matCellDef="let element"> {{element.key}} </mat-cell>
          </ng-container>

          <!-- value Column -->
          <ng-container matColumnDef="value">
            <!--<mat-header-cell class="cell-class"  fxFlex="{{ ToSharesWidth }}" *matHeaderCellDef mat-sort-header>  </mat-header-cell>-->
            <mat-cell class="cell-class"  fxFlex="70" *matCellDef="let element">
              <div *ngIf="element.type=='number';else stringTemplate">
                {{element.value | number }}
              </div>
              <ng-template #stringTemplate>
                <div *ngIf="element.type=='string';else floatTemplate">
                  {{element.value}}
                </div>
              </ng-template>
              <ng-template #floatTemplate>
                <div *ngIf="element.type=='float';else linkTemplate">
                  {{ element.value |  number:'1.3-3'}}
                </div>
              </ng-template>
              <ng-template #linkTemplate>
                <a href="{{element.value}}">{{element.value}}</a>
              </ng-template>

            </mat-cell>
          </ng-container>

          <!--<mat-header-row  class="my-mat-row" *matHeaderRowDef="securityOverviewColumns"></mat-header-row>-->
          <mat-row class="my-mat-row"  *matRowDef="let row; columns: corporateColumns;"  ></mat-row>
        </mat-table>
      </div>
    </div>

    <div [ngClass]="isHandSet ? 'chartcenter' : ''">
      <highcharts-chart fxFlex
                        [Highcharts]="Highstocks"

                        [constructorType]="chartConstructor"
                        [options]="interactiveChartOptions"

                        [(update)]="interactiveUpdateFlag"
                        [oneToOne]="interactiveOneToOneFlag"

                        style="width: 100%; height: 400px; display: block;">
      </highcharts-chart>

    </div>



  </div>

  <ng-template #templateLoaded>
    <div>
      <div> <b> {{ symbol }}  {{ name }} </b> </div>
      <div> Full name: <b> {{ fullname }} </b></div>
      <div> Category: <b> {{ category }} </b></div>
      <div> Sector : <b> {{ sector }} </b> </div>
    </div>
  </ng-template>

  <div>
    <mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedTab">
      <mat-tab label="Overview"> <app-overview></app-overview></mat-tab>
      <mat-tab label="Indicators"> <app-indicators></app-indicators></mat-tab>
      <mat-tab label="Forecast"> <app-forecast></app-forecast></mat-tab>
      <mat-tab label="Financials (Annual)"> <app-annual></app-annual> </mat-tab>
      <mat-tab label="Financials (Quarterly)"><app-quarter></app-quarter> </mat-tab>
      <mat-tab label="Shareholdings"> <app-secshareholdings></app-secshareholdings> </mat-tab>
    </mat-tab-group>
  </div>

</ng-template>



