


<!--<div>-->
  <!--<mat-grid-list cols="6" rowHeight="75">-->
    <!--<mat-grid-tile>-->
    <!--Market Cap: {{ MarketCap}}-->
  <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--Shares: {{ Shares}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--Floating Shares: {{ FloatingShares}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--Floating Shares (%): {{ FloatingSharesPCT}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--EPS : {{ EPS}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--Price to Earning ratio : {{ PERatio}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--ROE : {{ ROERatio}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--Dividend (cents): {{ Dividend}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--Dividend Yield : {{ DividendYield}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--NTA : {{ NTA}}-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--PAR Value : {{ PARValue}}-->
    <!--</mat-grid-tile>-->




  <!--</mat-grid-list>-->
<!--</div>-->
<div fxFlexAlign="overview" fxLayout="row">
  <div [ngClass]="isHandset ? 'fundamentals-mobile' : 'fundamentals'">
     <mat-table  matSort [dataSource]="fundamentalsDataSource">

      <!--'Symbol' , 'ToShares'  , 'SharesDiff' , 'SharesDiffPct'];-->

      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <!--<mat-header-cell class="cell-class"  fxFlex="{{ symbolColumnWidth }}" *matHeaderCellDef> Symbol </mat-header-cell>-->
        <mat-cell class="cell-class"  fxFlex="{{ symbolColumnWidth }}" *matCellDef="let element"> {{element.key}} </mat-cell>
      </ng-container>

      <!-- value Column -->
      <ng-container matColumnDef="value">
        <!--<mat-header-cell class="cell-class"  fxFlex="{{ ToSharesWidth }}" *matHeaderCellDef mat-sort-header>  </mat-header-cell>-->
        <mat-cell class="cell-class"  fxFlex="{{ ToSharesWidth }}" *matCellDef="let element">
          <div *ngIf="element.type=='number';else stringTemplate">
            {{element.value | number }}
          </div>
          <ng-template #stringTemplate>
            <div *ngIf="element.type=='string';else floatTemplate">
              {{element.value}}
            </div>
          </ng-template>
          <ng-template #floatTemplate>
            {{ element.value |  number:'1.3-3'}}
          </ng-template>

        </mat-cell>
      </ng-container>

      <!--<mat-header-row  class="my-mat-row" *matHeaderRowDef="securityOverviewColumns"></mat-header-row>-->
      <mat-row class="my-mat-row"  *matRowDef="let row; columns: fundamentalsColumns;"  ></mat-row>
    </mat-table>
  </div>
  <div class="technicals">
    <mat-table [dataSource]="technicalsDataSource">

      <!--'Symbol' , 'ToShares'  , 'SharesDiff' , 'SharesDiffPct'];-->

      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <!--<mat-header-cell class="cell-class"  fxFlex="{{ symbolColumnWidth }}" *matHeaderCellDef> Symbol </mat-header-cell>-->
        <mat-cell class="cell-class"  fxFlex="{{ symbolColumnWidth }}" *matCellDef="let element"> {{element.key}} </mat-cell>
      </ng-container>

      <!-- value Column -->
      <ng-container matColumnDef="value">
        <!--<mat-header-cell class="cell-class"  fxFlex="{{ ToSharesWidth }}" *matHeaderCellDef mat-sort-header>  </mat-header-cell>-->
        <mat-cell class="cell-class"  fxFlex="{{ ToSharesWidth }}" *matCellDef="let element">
          <div *ngIf="element.type=='number';else stringTemplate">
            {{element.value | number }}
          </div>
          <ng-template #stringTemplate>
            <div *ngIf="element.type=='string';else floatTemplate">
              {{element.value}}
            </div>
          </ng-template>
          <ng-template #floatTemplate>
            {{ element.value |  number:'1.3-3'}}
          </ng-template>

        </mat-cell>
      </ng-container>

      <!--<mat-header-row  class="my-mat-row" *matHeaderRowDef="securityOverviewColumns"></mat-header-row>-->
      <mat-row class="my-mat-row"  *matRowDef="let row; columns: technicalsColumns;"  ></mat-row>
    </mat-table>
  </div>
</div>


<!--<div class="topdiv" fxLayout="column" fxLayoutGap="40px">-->
  <!--<div fxLayout="row" fxLayoutAlign="space-around center">-->

  <!--<div class="securityOverview">-->
    <!--<mat-table [dataSource]="technicalsDataSource">-->

      <!--&lt;!&ndash;'Symbol' , 'ToShares'  , 'SharesDiff' , 'SharesDiffPct'];&ndash;&gt;-->

      <!--&lt;!&ndash; Key Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="key">-->
        <!--&lt;!&ndash;<mat-header-cell class="cell-class"  fxFlex="{{ symbolColumnWidth }}" *matHeaderCellDef> Symbol </mat-header-cell>&ndash;&gt;-->
        <!--<mat-cell class="cell-class"  fxFlex="{{ symbolColumnWidth }}" *matCellDef="let element"> {{element.key}} </mat-cell>-->
      <!--</ng-container>-->

      <!--&lt;!&ndash; value Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="value">-->
        <!--&lt;!&ndash;<mat-header-cell class="cell-class"  fxFlex="{{ ToSharesWidth }}" *matHeaderCellDef mat-sort-header>  </mat-header-cell>&ndash;&gt;-->
        <!--<mat-cell class="cell-class"  fxFlex="{{ ToSharesWidth }}" *matCellDef="let element">-->
          <!--<div *ngIf="element.type=='number';else stringTemplate">-->
            <!--{{element.value | number }}-->
          <!--</div>-->
          <!--<ng-template #stringTemplate>-->
            <!--<div *ngIf="element.type=='string';else floatTemplate">-->
              <!--{{element.value}}-->
            <!--</div>-->
          <!--</ng-template>-->
          <!--<ng-template #floatTemplate>-->
            <!--{{ element.value |  number:'1.3-3'}}-->
          <!--</ng-template>-->

        <!--</mat-cell>-->
      <!--</ng-container>-->

      <!--&lt;!&ndash;<mat-header-row  class="my-mat-row" *matHeaderRowDef="securityOverviewColumns"></mat-header-row>&ndash;&gt;-->
      <!--<mat-row class="my-mat-row"  *matRowDef="let row; columns: technicalsColumns;"  ></mat-row>-->
    <!--</mat-table>-->
  <!--</div>-->
<!--<div>-->
<!--&lt;!&ndash;<highcharts-chart fxFlex&ndash;&gt;-->
<!--&lt;!&ndash;[Highcharts]="Highstocks"&ndash;&gt;-->

<!--&lt;!&ndash;[constructorType]="chartConstructor"&ndash;&gt;-->
<!--&lt;!&ndash;[options]="interactiveChartOptions"&ndash;&gt;-->

<!--&lt;!&ndash;[(update)]="interactiveUpdateFlag"&ndash;&gt;-->
<!--&lt;!&ndash;[oneToOne]="interactiveOneToOneFlag"&ndash;&gt;-->

<!--&lt;!&ndash;style="width: 100%; height: 400px; display: block;">&ndash;&gt;-->
<!--&lt;!&ndash;</highcharts-chart>&ndash;&gt;-->

<!--</div>-->



<!--</div>-->



<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-tab-group (selectedTabChange)="tabChanged($event)">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-tab label="Overview"> <app-overview></app-overview></mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-tab label="Charts"> <app-charts></app-charts> </mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-tab label="Shareholdings"> <app-secshareholdings></app-secshareholdings> </mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-tab-group>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->




<!--<div fxLayout="column">-->
  <!--<div *ngIf="isLoading; else templateLoaded">-->
    <!--<mat-progress-spinner-->
      <!--class="example-margin"-->
      <!--[color]="color"-->
      <!--[mode]="mode"-->
      <!--[value]="value">-->
    <!--</mat-progress-spinner>-->
  <!--</div>-->
  <!--<ng-template #templateLoaded>-->
  <!--<div fxFlex="1 1 90%" >-->
    <!--<highcharts-chart-->
      <!--[Highcharts]="Highstocks"-->

      <!--[constructorType]="chartConstructor"-->
      <!--[options]="staticChartOptions"-->

      <!--[(update)]="staticUpdateFlag"-->
      <!--[oneToOne]="staticOneToOneFlag"-->


    <!--&gt;</highcharts-chart>-->
  <!--</div>-->
  <!--<div *ngIf="staticBoxExists; else templateNotStaticBox"  >-->
    <!--Static box is from {{staticBoxFromDate}} to {{ staticBoxToDate}} with-->
    <!--High = {{ staticBoxHigh }}-->
    <!--Low = {{ staticBoxLow}}-->
  <!--</div>-->

  <!--<ng-template #templateNotStaticBox>-->
    <!--Static box does not exist-->
  <!--</ng-template>-->

  <!--<div fxFlex="1 1 20%">-->
    <!--<table class="tableClass"  mat-table [dataSource]="securitySummaryDataSource" >-->

      <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
            <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

      <!--&lt;!&ndash; Stock Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="label">-->
        <!--<th mat-header-cell *matHeaderCellDef>  </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element['label']}} </td>-->
      <!--</ng-container>-->

      <!--&lt;!&ndash; Last Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="value">-->
        <!--<th mat-header-cell *matHeaderCellDef> </th>-->
        <!--<td align="right" mat-cell *matCellDef="let element"> {{element['value']}} </td>-->
      <!--</ng-container>-->
      <!--<tr mat-header-row *matHeaderRowDef="securitySummaryColumns"></tr>-->
      <!--<tr mat-row *matRowDef="let row; columns: securitySummaryColumns;"></tr>-->
    <!--</table>-->
  <!--</div>-->

  <!--</ng-template>-->

<!--</div>-->
