.securityOverview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30%;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fundamentals-mobile {
  width: 95%;
  margin: 10px 10px 10px 10px;
}
.fundamentals {
  width: 30%;
  margin: 10px 10px 10px 10px;
}

.technicals {
  width: 30%;
  margin: 10px 10px 10px 10px;
}
